<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="${input.image}" alt="${input.name}">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content has-text-centered">
        <p class="title is-4">${input.name}</p>
        <p class="subtitle is-6">${input.title}</p>
      </div>
    </div>
  </div>
</div>
