html {
  background-color: #1a1a1a !important;
  font-family: 'IBM Plex Sans Condensed', sans-serif !important;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body, .title, h1, h2, h3, h4, h5, h6, p {
  color: white !important;
}

.has-text-weight-extra-light {
  font-weight: 200 !important;
}

.title.title-landing {
  font-size: 7rem;
}

.profile {
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  margin-top: 2rem;
  color: white;
  display: block;
  padding: 1.25rem;
}

.btn {
  display: inline-block;
  background: #e2e2e2;
  border: 0;
  line-height: 2.5em;
  padding: 0 0 0 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  outline: none;
  text-decoration: none;
  color: #666;
}
.btn .arrow {
  display: inline-block;
  line-height: 2.5em;
  text-align: center;
  background: #333;
  color: white;
  font-size: 1em;
  width: 2.5em;
  -webkit-transition: margin 200ms;
  transition: margin 200ms;
  margin-left: .75em;
}
.btn:hover {
  background: white;
}
.btn:hover .arrow {
  margin-left: 1.25em;
  background-color: #262626;
}
.btn:active {
  background: #ccc;
}
.btn:active .arrow {
  margin-left: 1.5em;
}

.btn-info .arrow {
  background-color: indianred;
}
.btn-info:hover .arrow {
  background-color: #c14e4e;
}

.btn-learn .arrow {
  background-color: salmon;
}
.btn-learn:hover .arrow {
  background-color: #f56d5e;
}

button::-moz-focus-inner {
  border: none;
}

#landing-1 {
  /* background: linear-gradient(135deg,#F54EA2,#FF7676); */
}


.summary {
  font-size: 1.3rem;
  font-weight: 300;
}

.section--faq {
  background-repeat:no-repeat;
  background-image:url(//github-atom-io-herokuapp-com.global.ssl.fastly.net/assets/index-teletype-graphic-003d3ac7f8f35c1d36c0b49d76c9260b.svg);
  background-position:calc(50% + 1000px) center
}

.section--intro {
  background-repeat:no-repeat;
  background-image:url(./rose.svg);
  background-position:calc(15% - 200px) center;
}

.section--landing {
  background-repeat:no-repeat;
  background-image:url(./hair.svg);
  background-size: contain;
  background-position:calc(100% + 70px) center;
}

.question-answer b {
  font-size: 1.8rem;
  font-weight: 400;
}
.question-answer p {
  font-size: 1.3rem;
  font-weight: 300;
}

.hero-head .title {
  font-size: 3rem;
}

hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
}

.profile {
  box-shadow: -10px -5px 10px rgba(0, 0, 0, 0);
  border: 0;
  margin-top: 1.5rem;
}

.blinker {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  background: rebeccapurple;
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}
