$ const profiles = [
  [
    ["Mai Phương Thủy Tiên", "Babson", "https://i.imgur.com/KJWqOpr.jpg", "Thủy Tiên vừa theo học hết năm thứ 2 tại Babson College, Hoa Kì. Với ước mơ đem lại sự bình đẳng trong giáo dục, Thủy Tiên sáng lập Doanh nghiệp SEEDS Vietnam vào năm 2017 và thực hiện các dự án nhằm giải quyết sự bất công bằng còn tồn tại trong hai lĩnh vực: du học Hoa Kỳ và giáo dục Công nghệ thông tin. Làm việc trong dự án SheCodes Hackathon với vai trò Trưởng ban tổ chức và thành viên ban Đối ngoại, Thủy Tiên hi vọng có thể cùng các thành viên khác trong team đem đến một suy nghĩ mới, một thái độ mới và một ngọn lửa mới cho cộng đồng phái nữ để họ vượt qua tự ti và khoảng cách giới tính trong lĩnh vực Công nghệ thông tin."],
    ["Đỗ Huệ Phương", "Pierce", "https://i.imgur.com/3l6NQt4.jpg", "Phương đang theo học trường cao đẳng cộng đồng Pierce College tại bang Washington, Mỹ. Với mong muốn đem lại bình đẳng trong giáo dục cho các bạn học sinh có hoàn cảnh khó khăn tại Việt Nam, Phương tham gia SEEDS Vietnam từ hè năm 2017 đến nay, đảm nhiệm vị trí PR Manager. Phương rất vui vì đã đóng góp một phần nho nhỏ trong những dự án của SEEDS và nhận được nhiều feedback tích cực từ các bạn học sinh. Với Phương, SEEDS như một gia đình thứ hai vậy, may mắn được làm việc và học hỏi nhiều điều từ các thành viên vô cùng tài năng và nhiệt huyết. Dù là dự án gì của SEEDS Vietnam, Phương luôn cố gắng cống hiến hết mình và với SheCodes Hackathon cũng vậy. Là một thành viên BTC của SheCodes Hackathon, Phương mong muốn sẽ đem đến sự thay đổi trong nhận thức của mọi người trong xã hội về phụ nữ trong Công Nghệ Thông Tin và thúc đẩy sự tự tin trong công đồng phái nữ về lĩnh vực này."],
    ["Phan Lê Diệu Hiền", "MTSU", "https://i.imgur.com/KLz4sMR.jpg", "Hiền vừa hoàn thành năm nhất tại Đại học Middle Tennessee State University tại Mỹ, ngành Thiết Kế Nội Thất. Hiện nay, Hiền đang đảm nhiệm vị trí Graphic Designer trong dự án SheCodes Hackathon đồng thời cũng cộng tác với tổ chức Giáo Dục SEEDS Vietnam. Bên cạnh đấy, Hiền cũng dành nhiều thời gian cộng tác với các tổ chức khác như Elite Prep và một vài tổ chức gần khu vực học tập hiện tại để trau dồi khả năng nghệ thuật. Hiền tham gia SheCodes với vai trò thành viên Ban tổ chức với một tâm huyết với dự án SheCodes Hackathon và sự phát triển bình đẳng của nữ giới trong ngành công nghệ Việt Nam. Chưa bao giờ bạn ấy theo phụ tá một dự án tiên phong và khá lý tưởng hóa như thế, nên bạn ấy, như thể đã mặc áo giáp sắt của một nữ binh xung trận, sẵn sàng cầm giấy bút lên kế hoạch thiết kế!"]
  ],
  [
    ["Lương Thế Minh Quang", "NYU", "https://i.imgur.com/NJFsv3a.jpg", "Ngoài phần lớn thời gian cùng triết học, giới tính học, và nghệ thuật tại đại học New York, Thượng Hải, Quang phát triển đam mê với công nghệ qua các dự án giúp ích cho cộng đồng. Là một Tech Mentor, Quang có kinh nghiệm về <a rel='nofollow' target='_blank' href='https://aptechvietnam.com.vn/content/aprotrain-aptech-lam-giam-khao-hoi-thi-tin-hoc-tre-thanh-pho-ha-noi-lan-thu-xx'>robotic</a>, <a rel='nofollow' target='_blank' href='https://pwn.netlify.com/'>bảo mật thông tin</a>, GIS,  phát triển <a target=_blank href='https://learnstuff.io/post/2018-01-unreal-engine-game-jam/'>game</a> và <a target=_blank href='https://devel.faith'>ứng dụng</a>. (Click the links to see how I could hack you on Zalo, Sendo... and preview a social network I am building)"],
    ["Nguyễn Chi Mai", "Minerva", "https://i.imgur.com/BztJMrL.jpg", "Chi Mai tham gia vào BTC SheCodes Hackathon với tinh thần vui là chính. Hiện đang là sinh viên năm hai học ba ngành (Strategic Finance, New Business Ventures và Philosophy) tại đại học Minerva, Mai mong muốn có thể đóng góp sức mình vào việc xoá bỏ những bất bình đẳng về giới tính, vùng miền và cơ hội trong giáo dục ở Việt Nam. Kinh nghiệm làm việc: Hiện tại đang là thành viên của nhiều dự án hướng tới xoá bỏ bất bình đẳng trong giáo dục ở Việt Nam; Đồng chủ tịch tổ chức giáo dục Puzzles Association từ 2015-2017; Thực tập sinh phát triển sản phẩm cho T-Hub, vườn ươm startup (startup incubator) lớn nhất Ấn Độ; Thành viên dự án ứng dụng human-center design để hỗ trợ các doanh nghiệp xã hội của tập đoàn SAP, cơ sở Hàn Quốc; Thành viên dự án phát triển đô thị, FixIt ILab, của Văn phòng Thị Trưởng thành phố San Francisco, Mỹ; Phóng viên mảng giáo dục và gia đình của báo Hoa Học Trò."],
    ["Vũ Đức Minh", "Earlham", "https://i.imgur.com/aVrQiBX.jpg", "Chưa có gì ở đây. Bạn thử click vào profile các thành viên khác nhé!"]
  ],
  [
    ["Nguyễn Đức Thành An", "SMU", "https://i.imgur.com/3gF795m.jpg", "Vừa hoàn thành năm nhất ngành Khoa học Môi trường tại Đại học Saint Mary’s, Canada, An tham dự SheCodes Hackathon 2018 mùa hè này trong vai trò là một Logistics Manager. Với tinh thần cống hiến và học hỏi, sự có mặt của An hứa hẹn sẽ mang đến một bầu không khí năng nổ, cộng với kinh nghiệm quản lý đã được rèn luyện khi từng giữ những vị trí như Leader của GPA Public Speaking & Debate Club Gen 1, Phó Chủ tịch CLB Bóng đá CSF, cùng với vô số trải nghiệm từ những chương trình tình nguyện khác. Với An, Shecodes Hackathon chính là một cơ hội tuyệt vời để giao lưu, học hỏi, tích lũy kinh nghiệm, và đóng góp ít nhiều vào sự phát triển xã hội theo hướng bình đẳng giới, đặc biệt là trong lĩnh vực công nghệ tại Việt Nam."],
    ["Nguyễn Minh Lộc", "DAV", "https://i.imgur.com/yw1gUCD.jpg", "Sinh ra và lớn lên ở ngoại tỉnh, Minh Lộc thấu hiểu những khó khăn của các bạn học sinh không ở thành phố lớn. Quyết tâm vượt lên những điều kiện chưa thuận lợi, Minh Lộc đã tích cực tổ chức các hoạt động từ ngày cấp 3 và đảm nhiệm nhiều vị trí quan trọng như Trưởng Ban Truyền thông của Lam Sơn Radio, CLB CAM Debate, CLB Thiện nguyện Từ tâm. Ở môi trường đại học, Minh Lộc hiện cũng đang hoạt động tích cực trong các hoạt động thanh niên. SheCodes Hackathon là sự kiện đầu tiên Minh Lộc tham gia tổ chức nhằm hiện thực hóa ước mơ xóa nhòa khoảng cách, kết nối những nguồn lực cả trong và ngoài nước từ chính các bạn trẻ để đem đến nhiều cơ hội hơn cho một thế hệ tương lai của đất nước."],
    ["Vũ Thanh Mai", "FTU", "https://i.imgur.com/bY4NV2l.jpg", "Dù không phải một cô gái đam mê với Công nghệ nhưng Thanh Mai, một sinh viên năm 3 chuyên ngành Quản trị Kinh doanh Quốc tế tại Đại Học Ngoại Thương, lại là một thành viên vô cùng tâm huyết của BTC SheCodes Hackathon. Với mong muốn lan toả những giá trị tốt đẹp và tạo ra sức ảnh hưởng của giới trẻ đối với cộng đồng, Thanh Mai đã tham gia tổ chức rất nhiều các hoạt động cộng đồng mang tính giáo dục cao dành cho giới trẻ như VYMUN, TEDxBaTrieuSt, Vietnam Innovation Summit,... Mùa hè năm nay, Thanh Mai kỳ vọng SheCodes Hackathon sẽ không chỉ được biết đến như là một hackathon đầu tiên tại Việt Nam dành riêng cho nữ giới, mà sẽ trở thành điểm tựa, một sự tiếp sức cho các bạn nữ tự tin hơn trong lĩnh vực công nghệ."]
  ]
]
$ const animDelay = .15
$ function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;
  while (0 !== currentIndex) {
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }
  return array;
}
br
br
div.columns.is-desktop for(row in shuffle(profiles) | status-var=loopRow) data-wow-offset="100"
  div.wow.column class=((loopRow.getIndex() % 2 ? "fadeInLeft" : "fadeInRight")) data-wow-delay="${(loopRow.getIndex() * row.length * 0 + (loopRow.getIndex() % 2 == 0 ? loopCol.getIndex() : (col.length - loopCol.getIndex() - 1))) * animDelay}s" for(col in shuffle(row) | status-var=loopCol)
    user-profile name=col[0] header=col[1] introduction=col[3] img=col[2]
